* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
    margin-left: 75px;
    margin-top: 44px;
    cursor: pointer;
}

a {
    margin-right: 20px;
}

section {
    display: inline-block;
}

img {
    width: 400px;
    margin: 130px 86px 0 100px;
    ;
}

aside {
    display: inline-block;
    font-size: 40px;
    color: #515151;
    position: relative;
}

h1 {
    font-weight: 900;
    font-size: 37px;
    line-height: 0px;
    margin-left: 20px;

}

h3 {
    font-weight: 400;
    margin-left: 20px;
}

p {
    font-weight: 400;
    font-size: 20px;
    color: #848484;
    width: 515px;
    margin: 30px 0 30px 0;
}

button {
    cursor: pointer;
}

.b1 {
    background-color: #665AE1;
    Width: 110px;
    font-weight: 600;
    font-size: 22px;
    color: white;
    border: 0;
    pad: 5px;
    border-radius: 50px;
}

.b2 {
    Width: 165px;
    border-radius: 50px;
    background-color: #ADFF00;
    font-weight: 700;
    font-size: 22px;
    border: 0;
    padding: 5px;
}

@media screen and (max-width:600px) {
    img {
        width: 400px;
        margin: 90px 60px 0 60px;
    }

    header {
        font-size: 15px;
        margin-left: 40px;
        margin-top: 44px;
        width: 600px;
    }

    a {
        margin-right: 10px;
    }

    .b1 {
        Width: 80px;
        font-size: 15px;
        border: 0;
    }

    aside {
        font-size: 35px;
        margin: 30px 0 30px 30px;
        width: 600px;
    }

    h1 {
        font-size: 30px;
        margin-left: 20px;
    }

    h3 {
        margin-left: 20px;
    }

    p {
        width: 450px;
        margin: 30px 0 30px 0;
    }

    .b2 {
        margin-left: 126px;
    }
}